* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: grid;
  align-items: flex-end;
  justify-content: center;
  background-color: hsl(226, 43%, 10%);
  font-family: "Rubik", sans-serif;
}

i {
  color: hsl(236, 100%, 87%);
}
i:hover {
  color: white;
}

img {
  width: 3rem;
}

main {
  display: grid;
  grid-template-columns: repeat(4, 13rem);
  gap: 1.5rem;
  color: white;
  min-height: 24rem;
}

.profilegrid {
  grid-row: 1/span 2;
  background-color: hsl(235, 46%, 20%);
  border-radius: 1rem;
  display: grid;
}
.profilegrid .name {
  font-size: 2rem;
}

.profile {
  background-color: hsl(246, 80%, 60%);
  border-radius: 1rem;
  padding: 1.5rem;
  height: 15rem;
}
.profile p {
  font-size: 0.8rem;
  color: #ccc;
  line-height: 1.3rem;
}
.profile p span {
  color: white;
  font-size: 2.5rem;
  display: block;
  line-height: 2.5rem;
}
.profile img {
  border: 3px solid white;
  border-radius: 50%;
  margin-bottom: 1rem;
  width: 4rem;
}

.switch {
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  padding: 1.5rem;
}
.switch button {
  display: block;
  background-color: hsl(235, 46%, 20%);
  color: hsl(235, 45%, 61%);
  border: none;
  margin-bottom: 1rem;
}
.switch button.current {
  color: white;
}
.switch button:hover {
  color: white;
  cursor: pointer;
}

.group {
  display: flex;
  flex-direction: column;
}

.workgrid {
  background-color: hsl(15, 100%, 70%);
  border-radius: 1rem;
  height: 11rem;
  display: grid;
  grid-template-rows: 1.8rem 9.5rem;
}
.workgrid .img {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: hsl(15, 100%, 70%);
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  margin-right: 0.8rem;
  overflow: hidden;
}
.workgrid #work {
  background-color: hsl(235, 46%, 20%);
  border-radius: 1rem;
  padding: 1.5rem;
}
.workgrid #work:hover {
  background-color: hsl(236, 38%, 36%);
  cursor: pointer;
}
.workgrid #work .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8rem;
  margin-bottom: 1rem;
}
.workgrid #work .top img {
  width: 0.8rem;
  height: 0.2rem;
  color: hsl(235, 45%, 61%);
}
.workgrid #work .top img:hover {
  color: white;
  cursor: pointer;
}
.workgrid #work .time {
  font-size: 2.5rem;
}
.workgrid #work .time + p {
  color: hsl(236, 100%, 87%);
  font-size: 0.7rem;
  margin-top: 0.7rem;
}

.playgrid {
  background-color: hsl(195, 74%, 62%);
  border-radius: 1rem;
  height: 11rem;
  display: grid;
  grid-template-rows: 1.8rem 9.5rem;
}
.playgrid .img {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: hsl(195, 74%, 62%);
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  margin-right: 0.8rem;
  overflow: hidden;
}
.playgrid #play {
  background-color: hsl(235, 46%, 20%);
  border-radius: 1rem;
  padding: 1.5rem;
}
.playgrid #play:hover {
  background-color: hsl(236, 38%, 36%);
  cursor: pointer;
}
.playgrid #play .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8rem;
  margin-bottom: 1rem;
}
.playgrid #play .top img {
  width: 0.8rem;
  height: 0.2rem;
}
.playgrid #play .top img:hover {
  color: white;
  cursor: pointer;
}
.playgrid #play .time {
  font-size: 2.5rem;
}
.playgrid #play .time + p {
  color: hsl(236, 100%, 87%);
  font-size: 0.7rem;
  margin-top: 0.7rem;
}

.studygrid {
  background-color: hsl(348, 100%, 68%);
  border-radius: 1rem;
  height: 11rem;
  display: grid;
  grid-template-rows: 1.8rem 9.5rem;
}
.studygrid .img {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: hsl(348, 100%, 68%);
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  margin-right: 0.8rem;
  overflow: hidden;
}
.studygrid #study {
  background-color: hsl(235, 46%, 20%);
  border-radius: 1rem;
  padding: 1.5rem;
}
.studygrid #study:hover {
  background-color: hsl(236, 38%, 36%);
  cursor: pointer;
}
.studygrid #study .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8rem;
  margin-bottom: 1rem;
}
.studygrid #study .top img {
  width: 0.8rem;
  height: 0.2rem;
}
.studygrid #study .top img:hover {
  color: white;
  cursor: pointer;
}
.studygrid #study .time {
  font-size: 2.5rem;
}
.studygrid #study .time + p {
  color: hsl(236, 100%, 87%);
  font-size: 0.7rem;
  margin-top: 0.7rem;
}

.exercisegrid {
  background-color: hsl(145, 58%, 55%);
  border-radius: 1rem;
  height: 11rem;
  display: grid;
  grid-template-rows: 1.8rem 9.5rem;
}
.exercisegrid .img {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: hsl(145, 58%, 55%);
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  margin-right: 0.8rem;
  overflow: hidden;
}
.exercisegrid #exercise {
  background-color: hsl(235, 46%, 20%);
  border-radius: 1rem;
  padding: 1.5rem;
}
.exercisegrid #exercise:hover {
  background-color: hsl(236, 38%, 36%);
  cursor: pointer;
}
.exercisegrid #exercise .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8rem;
  margin-bottom: 1rem;
}
.exercisegrid #exercise .top img {
  width: 0.8rem;
  height: 0.2rem;
}
.exercisegrid #exercise .top img:hover {
  color: white;
  cursor: pointer;
}
.exercisegrid #exercise .time {
  font-size: 2.5rem;
}
.exercisegrid #exercise .time + p {
  color: hsl(236, 100%, 87%);
  font-size: 0.7rem;
  margin-top: 0.7rem;
}

.socialgrid {
  background-color: hsl(264, 64%, 52%);
  border-radius: 1rem;
  height: 11rem;
  display: grid;
  grid-template-rows: 1.8rem 9.5rem;
}
.socialgrid .img {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: hsl(264, 64%, 52%);
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  margin-right: 0.8rem;
  overflow: hidden;
}
.socialgrid #social {
  background-color: hsl(235, 46%, 20%);
  border-radius: 1rem;
  padding: 1.5rem;
}
.socialgrid #social:hover {
  background-color: hsl(236, 38%, 36%);
  cursor: pointer;
}
.socialgrid #social .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8rem;
  margin-bottom: 1rem;
}
.socialgrid #social .top img {
  width: 0.8rem;
  height: 0.2rem;
}
.socialgrid #social .top img:hover {
  color: white;
  cursor: pointer;
}
.socialgrid #social .time {
  font-size: 2.5rem;
}
.socialgrid #social .time + p {
  color: hsl(236, 100%, 87%);
  font-size: 0.7rem;
  margin-top: 0.7rem;
}

.selfcaregrid {
  background-color: hsl(43, 84%, 65%);
  border-radius: 1rem;
  height: 11rem;
  display: grid;
  grid-template-rows: 1.8rem 9.5rem;
}
.selfcaregrid .img {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: hsl(43, 84%, 65%);
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  margin-right: 0.8rem;
  overflow: hidden;
}
.selfcaregrid #selfcare {
  background-color: hsl(235, 46%, 20%);
  border-radius: 1rem;
  padding: 1.5rem;
}
.selfcaregrid #selfcare:hover {
  background-color: hsl(236, 38%, 36%);
  cursor: pointer;
}
.selfcaregrid #selfcare .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8rem;
  margin-bottom: 1rem;
}
.selfcaregrid #selfcare .top img {
  width: 0.8rem;
  height: 0.2rem;
}
.selfcaregrid #selfcare .top img:hover {
  color: white;
  cursor: pointer;
}
.selfcaregrid #selfcare .time {
  font-size: 2.5rem;
}
.selfcaregrid #selfcare .time + p {
  color: hsl(236, 100%, 87%);
  font-size: 0.7rem;
  margin-top: 0.7rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 950px) {
  body {
    min-height: 100vh;
    display: grid;
    align-items: flex-start;
    justify-content: center;
    background-color: hsl(226, 43%, 10%);
  }
  img {
    width: 3rem;
  }
  main {
    display: grid;
    grid-template-columns: 20rem;
    justify-content: center;
    gap: 1.5rem;
    color: white;
    min-height: 100vh;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .profilegrid {
    grid-row: 1/span 2;
    background-color: hsl(235, 46%, 20%);
    border-radius: 1rem;
    display: grid;
    height: 12.5rem;
  }
  .profilegrid .name {
    font-size: 1.5rem;
  }
  .profile {
    background-color: hsl(246, 80%, 60%);
    border-radius: 1rem;
    padding: 1rem;
    height: 7rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .profile img {
    border: 3px solid white;
    border-radius: 50%;
    margin-bottom: 0rem;
    width: 4rem;
  }
  .switch {
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
  }
  .group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .profilegrid {
    grid-row: 1/span 2;
    background-color: hsl(235, 46%, 20%);
    border-radius: 1rem;
    display: grid;
    align-self: flex-end;
  }
  .workgrid,
  .playgrid,
  .studygrid,
  .exercisegrid,
  .socialgrid,
  .selfcaregrid {
    height: 9rem;
    grid-template-rows: 1.8rem 7.5rem;
    align-self: flex-end;
  }
}